

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:grey;

}
.container{
    display:grid;
    width:1000px;
    height:1000px;
    grid-template-columns: repeat(500, 1fr);
    grid-template-rows: repeat(500, 1fr);
    text-align:center;
    background-color: white;
    
}